.featured {

}

.featured__wrapper {
}

.featured__list {
  white-space: nowrap;
}

.featured__item {
  display: inline-block;
  position: relative;
  width: 100%;
}

.featured__item:nth-child(1) {
  background-color: #F2EFE5;
}

.featured__item:nth-child(2) {
  background-color: #E5F2E9;
}

.featured__item:nth-child(3) {
  background-color: #fbe0db;
}

.featured__item-cover {
  background-size: cover;
  padding-bottom: 66.666667%;
}

.featured__item[data-banner="banner-1"] .featured__item-cover {
  background-image: url('../../assets/samples/homepage/banner_mobile_1.png');
}

.featured__item[data-banner="banner-2"] .featured__item-cover {
  background-image: url('../../assets/samples/homepage/banner_mobile_2.png');
}

.featured__item[data-banner="banner-3"] .featured__item-cover {
  background-image: url('../../assets/samples/homepage/banner_mobile_3.png');
}

.featured__dots {
  list-style-type: none;
  text-align: center;
  margin: 12px 0 0;
  padding: 0;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.featured__dots button {
  color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-ot-gray-40);
  border: none;
  outline: none;
}

.featured__dots li {
  flex: 0 1 auto;
  width: 12px;
  display: inline-block;
}

.featured__dots .slick-active button {
  background-color: var(--color-ot-blue);
}


.recomm_personalized {
  background-color: var(--color-ot-cream-20);
}

@media screen and (min-width: 769px) {
  .featured__wrapper {
    padding-top: 40px;
    overflow-x: hidden;
  }
  
  .featured__list > .slick-list {
    overflow: visible;
  }

  .featured__item {
    overflow: hidden;
    border-radius: 12px;
    margin: 0 12px;
  }

  .featured__item-cover {
    padding-bottom: 33.33333%;
  }

  .featured__item[data-banner="banner-1"] .featured__item-cover {
    background-image: url('../../assets/samples/homepage/banner_desktop_1.png');
  }
  
  .featured__item[data-banner="banner-2"] .featured__item-cover {
    background-image: url('../../assets/samples/homepage/banner_desktop_2.png');
  }
  
  .featured__item[data-banner="banner-3"] .featured__item-cover {
    background-image: url('../../assets/samples/homepage/banner_desktop_3.png');
  }

  .featured__dots {
    position: relative;
    top: -46px;
  }

  .recomm_personalized {
    margin-bottom: 0;
  }

  .recomm {
    margin-bottom: 26px;
  }

}

@media screen and (min-width: 1200px) {
  .featured__carousel-container {
    margin: 0 auto;
    max-width: 1160px;
  }
}