.featured {

}

.featured__wrapper {
}

.featured__list {
  white-space: nowrap;
}

.featured__item {
  display: inline-block;
  position: relative;
  width: 100%;
}

.featured__item:nth-child(1) {
  background-color: #F2EFE5;
}

.featured__item:nth-child(2) {
  background-color: #E5F2E9;
}

.featured__item:nth-child(3) {
  background-color: #fbe0db;
}

.featured__item-cover {
  background-size: cover;
  padding-bottom: 66.666667%;
}

.featured__item[data-banner="banner-1"] .featured__item-cover {
  background-image: url('../../assets/samples/homepage/banner_mobile_1.png');
}

.featured__item[data-banner="banner-2"] .featured__item-cover {
  background-image: url('../../assets/samples/homepage/banner_mobile_2.png');
}

.featured__item[data-banner="banner-3"] .featured__item-cover {
  background-image: url('../../assets/samples/homepage/banner_mobile_3.png');
}

.featured__dots {
  list-style-type: none;
  text-align: center;
  margin: 12px 0 0;
  padding: 0;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.featured__dots button {
  color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-ot-gray-40);
  border: none;
  outline: none;
}

.featured__dots li {
  flex: 0 1 auto;
}

.featured__dots .slick-active button {
  background-color: var(--color-ot-blue);
}

.recomm {
  background-color: transparent;
}

.recomm_personalized {
  background-color: var(--color-ot-cream-20);
}

.recomm__wrapper {
  padding: 54px 16px;
}

.recomm__label {
  font-family: 'Lora';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: var(--color-ot-black);
}

.recomm__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 24px;
}

.recomm__item {
  width: 50%;
  margin-top: 32px;
}

.recomm__item:nth-child(1),
.recomm__item:nth-child(2) {
  margin-top: 0;
}

.recomm__item:nth-child(odd) {
  padding-right: 8px;
}

.recomm__item:nth-child(even) {
  padding-left: 8px;
}

.recomm__item-cover {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.recomm__item-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: auto;
}

.recomm_personalized .recomm__item-cover {
  padding-bottom: 66.66666%;
}

.recomm_personalized .recomm__item-cover::before {
  display: none;
}

.recomm__item-cover::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 50%;
  background-color: var(--color-ot-gray-40);
}

.recomm__item-category {
  margin-top: 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--color-ot-blue);
}

.recomm__item-title {
  margin-top: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-ot-black);
  text-align: center;
}

@media screen and (min-width: 769px) {
  .featured__wrapper {
    padding-top: 40px;
  }

  .featured__item {
    overflow: hidden;
    width: 86%;
    border-radius: 12px;
    margin: 0 calc(7% + 12px);
  }

  .slick-slide.featured__item {
    margin: 0 12px;
  }

  .featured__item-cover {
    padding-bottom: 33.33333%;
  }

  .featured__item[data-banner="banner-1"] .featured__item-cover {
    background-image: url('../../assets/samples/homepage/banner_desktop_1.png');
  }
  
  .featured__item[data-banner="banner-2"] .featured__item-cover {
    background-image: url('../../assets/samples/homepage/banner_desktop_2.png');
  }
  
  .featured__item[data-banner="banner-3"] .featured__item-cover {
    background-image: url('../../assets/samples/homepage/banner_desktop_3.png');
  }

  .featured__dots {
    position: relative;
    top: -36px;
  }

  .recomm_personalized {
    margin-bottom: 0;
  }

  .recomm {
    margin-bottom: 26px;
  }

}

@media screen and (min-width: 1025px) {
  .recomm__wrapper {
    max-width: 916px;
  }
}

@media screen and (min-width: 1200px) {
  .recomm__wrapper {
    max-width: 1176px;
  }
}