<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../styles/normalize.css">
  <link rel="stylesheet" href="../../styles/global.css">
  <link rel="stylesheet" href="./index.css">
</head>
<body style="margin: 0;">
  <footer class="footer">
    <div class="footer__partner">
      <div class="footer__partner-wrapper">
        <div class="footer__partner-section">
          <div class="footer__partner-label">
            Accepted Payments
          </div>
          <div class="footer__partner-list">
            <div class="footer__partner-item footer__partner-item_visa">
              <img class="footer__partner-img" src="../../assets/partners/visa.png" />
            </div>
            <div class="footer__partner-item footer__partner-item_mastercard">
              <img class="footer__partner-img" src="../../assets/partners/mastercard.png" />
            </div>
            <div class="footer__partner-item footer__partner-item_ovo">
              <img class="footer__partner-img" src="../../assets/partners/ovo.png" />
            </div>
            <div class="footer__partner-item footer__partner-item_gopay">
              <img class="footer__partner-img" src="../../assets/partners/gopay.png" />
            </div>
            <div class="footer__partner-item footer__partner-item_amex">
              <img class="footer__partner-img" src="../../assets/partners/amex.png" />
            </div>
            <div class="footer__partner-item footer__partner-item_paypal">
              <img class="footer__partner-img" src="../../assets/partners/paypal.png" />
            </div>
          </div>
        </div>
        <div class="footer__partner-section">
          <div class="footer__partner-label">
            Shipping Partners
          </div>
          <div class="footer__partner-list">
            <div class="footer__partner-item footer__partner-item_jne">
              <img class="footer__partner-img" src="../../assets/partners/jne.png" />
            </div>
            <div class="footer__partner-item footer__partner-item_sicepat">
              <img class="footer__partner-img" src="../../assets/partners/sicepat.png" />
            </div>
            <div class="footer__partner-item footer__partner-item_gosend">
              <img class="footer__partner-img" src="../../assets/partners/gosend.png" />
            </div>
            <div class="footer__partner-item footer__partner-item_grab">
              <img class="footer__partner-img" src="../../assets/partners/grab_express.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__content">
      <div class="footer__sharer">
        <h5 class="footer__follow-us">FOLLOW US</h5>
        <div class="footer__socials">
          <div class="footer__social-item">
            <!-- <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M44 24.1208C44 13.0725 35.0484 4.12085 24 4.12085C12.9516 4.12085 4 13.0725 4 24.1208C4 34.1031 11.3137 42.3773 20.875 43.8789V29.9023H15.7944V24.1208H20.875V19.7144C20.875 14.7023 23.8589 11.9338 28.429 11.9338C30.6177 11.9338 32.9065 12.3241 32.9065 12.3241V17.2434H30.3839C27.9 17.2434 27.125 18.7854 27.125 20.3668V24.1208H32.6718L31.7847 29.9023H27.125V43.8789C36.6863 42.3773 44 34.1031 44 24.1208Z" fill="#2F4E92"/>
            </svg> -->
          </div>
          <div class="footer__social-item"></div>
          <div class="footer__social-item"></div>
        </div>
      </div>
      <nav class="footer__nav">
        <div class="footer__nav-wrapper">
          <div class="footer__nav-item">
            <h6 class="footer__nav-title">BOOK CATEGORIES</h6>
            <ul class="footer__links">
              <li class="footer__link-item">
                <a class="footer__link-anchor">Architecture</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Art</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Biography & Autobiography</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Body, Mind & Spirit</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Business & Economics</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Children Fiction</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Children Non-fiction</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Comics & Graphic Novels</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Computers</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Cooking</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Crafts & Hobbies</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Design</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Drama</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Education</a>
              </li>
            </ul>
          </div>
          <div class="footer__nav-item">
            <div class="footer__nav-placholder"></div>
            <ul class="footer__links">
              <li class="footer__link-item">
                <a class="footer__link-anchor">Drama</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Education</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Family & Relationships</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Fiction</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Foreign Language Study</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Games</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Gardening</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Health & Fitness</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Literary Collections</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Mathematics</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Medical</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Nature</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Performing Arts</a>
              </li>
            </ul>
          </div>
          <div class="footer__nav-item">
            <h6 class="footer__nav-title">ABOUT OPENTROLLEY</h6>
            <ul class="footer__links">
              <li class="footer__link-item">
                <a class="footer__link-anchor">About Us</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Browse 4000+ Book Categories</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Terms of Sale</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Corporate Accounts</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">OpenTrolley Bookstore Indonesia</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">OpenTrolley Bookstore Malaysia</a>
              </li>
            </ul>
          </div>
          <div class="footer__nav-item">
            <h6 class="footer__nav-title">INFORMATION</h6>
            <ul class="footer__links">
              <li class="footer__link-item">
                <a class="footer__link-anchor">How to Shop</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Delivery Info and Charges</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Self-collection</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Track My Orders</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Payment Modes Accepted</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Promotions</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Frequently Asked Questions</a>
              </li>
              <li class="footer__link-item">
                <a class="footer__link-anchor">Contact Us</a>
              </li>
            </ul>
            <div class="footer__sharer-alt">
              <div class="footer__sharer-alt-item"></div>
              <div class="footer__sharer-alt-item"></div>
              <div class="footer__sharer-alt-item"></div>
            </div>
          </div>
        </div>
        <div class="footer__illustration">
          <div class="footer__illustration-wrapper"></div>
        </div>
      </nav>
    </div>
    <div class="footer__copyright">
      <div class="footer__copyright-wrapper">
        2008-2022 © OpenTrolley Bookstore Pte. Ltd. (incorporated in Singapore). Thank you for supporting local businesses. #SGUnited
      </div>
    </div>
  </footer>
</body>
</html>