.modal {
  position: fixed;
  top: 0;
  left: 0;
}

.modal__backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.2);
}

.modal__dialog {
  position: fixed;
  padding: 32px 16px 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10000000 !important;
  background-color: var(--color-ot-white);
  border: none;
  animation: .3s slideFromBottom cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal__header {
  position: relative;
  padding: 0 32px;
} 

.modal__title {
  font-family: 'Lora';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}

.modal__body {
  margin-top: 32px;
}

.modal__action {
  margin-top: 40px;
  display: flex;
  width: 100%;
  gap: 16px;
}

.modal__action-item {
  width: calc(50% - 8px);
}

@media screen and (min-width: 1025px) {
  .modal__dialog {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    padding: 44px 40px 60px;
  }

  .modal__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  .modal__close {
    top: 8px;
  }

  .modal__action {
    justify-content: space-between;
  }

  .modal__action-item {
    max-width: 160px;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(30%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
