.register {}

.register__wrapper {
  padding: 32px 16px 64px;
  max-width: 440px;
  margin: 0 auto;
}

.register__title {
  font-size: var(--font-page-title-size);
  font-weight: var(--font-page-title-weight);
  line-height: var(--font-page-title-height);
  font-family: 'Lora';
  text-align: center;
  margin: 0;
}

.register__sub-text {
  text-align: center;
  margin-top: 32px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.register__sub-text-link {
  text-decoration: underline;
}

.register__form {
  margin-top: 32px;
}

.register__form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register__form-item_password {
  width: 55%;
}

.register__form-item + .register__form-item {
  margin-top: 32px;
}

.register__form-forget-password {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: underline;
}

.register__form-action {
  margin-top: 40px;
}

.register__form-footer {
  margin-top: 24px;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-ot-black);
  text-align: center;
}

.register__form-footer-link {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  .register__wrapper {
    padding: 40px 0 80px;
    max-width: 440px;
    margin: 0 auto;
  }

  .register__form {
    max-width: 376px;
    margin: 32px auto 0;
  }
}
